.logo{
    width: 15rem;
}

#carrossel{
    margin-top: 6rem;
}

#sobre{
    padding-top: 6rem;
}

#sobre p{
    margin: 1rem 14rem;
}

.card-largura{
    max-width: 18rem;
  }
  
  .imagem-carrossel1{
    object-fit: cover;
    object-position: 0 50%;
    height: 500px;
}

.imagem-carrossel2{
    object-fit: cover;
    object-position: 0 50%;
    height: 500px;
  }
  
  .fonte-titulo{
    font-family: 'Pacifico', cursive;
  }
  
  .cor-especial{
    color: darkred!important;
  }
  
  .cor-subtitulo{
    color: gray;
  }
  
  .botao-cor-especial{
    background-color: darkred;
    color: white;
  }
  
  .borda-cor-especial{
    border-color: darkred;
  }
  
  .card-posicao-imagem{
    object-fit: cover;
    height: 200px;
  }

footer .footer a{
    padding: 1rem 2rem;
}