* {
  font-family: "Montserrat";
}

.logo{
  width: 15rem;
}

#carrossel{
  margin-top: 6rem;
}

#sobre{
  padding-top: 6rem;
}

#sobre p{
  margin: 1rem 7rem;
}

#diferenciais{
  background-image: url("../img/Texture13.png");

}

.card-largura{
  max-width: 18rem;
}
  
.imagem-carrossel1{
  object-fit: cover;
  object-position: 0 50%;
  height: 500px;
}

.imagem-carrossel2{
  object-fit: cover;
  object-position: 0 50%;
  height: 500px;
}

.fonte-titulo{
  font-family: 'Montserrat';
  font-size: 2.5rem;
}

.cor-especial{
  color: rgb(8, 20, 8)!important;
}

.cor-subtitulo{
  color: rgb(70, 70, 70);
}
  
.botao-cor-especial{
  background-color: rgb(8, 20, 8);
  color: white;
}
  
.borda-cor-especial{
  border-color: rgb(8, 20, 8);
}
  
.card-posicao-imagem{
  object-fit: cover;
  height: 200px;
}

.texto-sobre{
  font-size: 1.3rem;
}

.menu{
  font-size: 1.8rem;
}

.social-media{
  padding:2rem;
  color: whitesmoke;
}

.social-media:hover{
  transform: scale(1.1);
}

