@font-face {
	font-family: Montserrat;
	src: url(../fonte/Montserrat-Medium.ttf)
}

@font-face {
  font-family: BoldFont;
  src: url(../fonte/theboldfont.ttf);
}

* {
  font-family: "Montserrat";
}

body{
  width: 100%;
  background-image: url("../img/Texture13.png");
}

.logo{
  width: 15rem;
}

.title-font{
  font-family: BoldFont!important;
}

#carrossel{
  margin-top: 6rem;
}

.sections{
  padding-top: 6rem;
}

#sobre{
  background-color: #fff;
}

#sobre p{
  margin: 1rem 10%;
}

/* #diferenciais{
  background-image: url("../img/Texture13.png");

} */

/* #video{
  background-image: url("../img/Texture13.png");
} */

.header-black{
  background-color: rgb(5, 5, 5)!important;
}

.card-largura{
  max-width: 18rem;
}

.card-altura{
  height: 550px;
}
  
.imagem-carrossel1{
  object-fit: cover;
  object-position: 0 50%;
  height: 500px;
}

.imagem-carrossel2{
  object-fit: cover;
  object-position: 0 70%;
  height: 500px;
}

.fonte-titulo{
  font-family: 'Montserrat';
  font-size: 2.5rem;
}

.cor-especial{
  color: rgb(8, 20, 8)!important;
}

.cor-subtitulo{
  color: rgb(70, 70, 70);
}
  
.botao-cor-especial{
  background-color: rgb(8, 20, 8);
  color: white;
}
  
.borda-cor-especial{
  border-color: rgb(8, 20, 8);
}
  
.card-posicao-imagem{
  object-fit: cover;
  height: 200px;
}

.texto-sobre{
  font-size: 1.3rem;
}

.menu{
  font-size: 1.8rem;
}

.social-media{
  padding: 1rem 2rem;
  color: whitesmoke;
}

.social-media:hover{
  transform: scale(1.1);
}

.imgModal{
  width: 60%;
}

.diferenciais-largura{
  width: 100%;
}

iframe{
  width: 55rem;
  height: 31rem;
}

.footer{
  background-color: rgb(5, 5, 5)!important;
}

.copyright{
  float: right;
}

@media (max-width: 978px){
  .diferenciais-largura{
    margin: 0px;
  }
  
  #trailer, iframe{
    margin: 0px !important;
  }

  iframe{
    width: 100%;
  }
  
}

@media (max-width: 500px){
  .imagem-carrossel1, .imagem-carrossel2{
    object-position: 78% 50%;
  }
  
  .imgModal{
    width: 80%;
  }
}

@media (max-width: 366px){
  .logo-mobile{
    width: 65%;
    padding-top: 0px;
    margin: 0px;
  }

  .logo{
    width: 100%;
  }

  footer p{
    font-size: 0.6rem;
    
  }

  .social-media{
    padding: 1rem;
  }

  #carrossel{
    margin-top: 80px;
  }  
}
